.full-width {
  width: 100%;
}
table {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.05);
}
th, td {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid rgba(0,0,0,0.07);
}
th {
  text-align: left;
  background: rgba(0,0,0,0.02);
}
tr:hover {
  background: rgba(0,0,0,0.03);
}
